<section class="bg-white dark:bg-gray-900 py-8 lg:py-16 antialiased flex flex-col justify-around items-center gap-10">
    <img class="h-auto max-w-full rounded-xl shadow" src="https://t4.ftcdn.net/jpg/03/08/69/75/360_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg" alt="image description" />

    <div class="max-w-full mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
                Discussion ({{ numberOfComments }})
            </h2>
        </div>
        <form class="mb-6 w-full" (ngSubmit)="onSubmit()" #commentForm="ngForm">
            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                <label for="comment" class="sr-only">Your comment</label>
                <textarea id="comment" [(ngModel)]="content" name="comment" rows="6" class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800" placeholder="Write a comment..." required></textarea>
            </div>
            <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
        Post comment
      </button>
        </form>
        <app-comment [PostId]="id" (commentCount)="updateNumberOfComments($event)"></app-comment>
    </div>
</section>